<?xml version="1.0" encoding="UTF-8"?>
<theme>
  <uniqueid>starterr</uniqueid>
  <name>Starterr</name>
  <date>2014-12-19</date>
  <version>0.9</version>
  <description>Starterr is PressRoom Theme boilerplate.</description>
  <thumbnail>assets/img/screenshot.png</thumbnail>
  <website>http://press-room.io/</website>
  <author>
    <name>thePrintLabs</name>
    <email>info@theprintlabs.com</email>
  </author>
  <layouts>
    <item>
      <name>basic article</name>
      <rule>content</rule>
      <description>default article layout</description>
      <path>layouts/basic-article.php</path>
    </item>
    <item>
      <name>cover</name>
      <rule>cover</rule>
      <description>Edition Cover layout file</description>
      <path>layouts/index.php</path>
    </item>
    <item>
      <name>toc</name>
      <rule>toc</rule>
      <description>Table of Contents theme file</description>
      <path>layouts/toc.php</path>
    </item>
  </layouts>
</theme>
