/* ==========================================================================
   LINKS
   ========================================================================== */

#logo,
.nav--main {
    a:link,
    a:hover,
    a:visited {
        color: $textColor;
        text-decoration: none;
    }
}